# MariaDB 설정 (추가 설정 필요)
MARIA_ROOT_PASSWORD=1234
MARIA_DATABASE=capstone_db
MARIA_USER=capstone
MARIA_PASSWORD=capstonepass
MARIA_PORT=3307

#Redis
REDIS_HOST=redis
REDIS_PORT=6379

DB_HOST=mariadb

# python 설정
APP_ENV=local
# 실행 모드: mock | real
TRYON_MODE=mock
# 나중에 GPU 서버 구축시 주소 변경
PYTHON_SERVICE_URL=http://YOUR_PYTHON_SERVER:8000

# API 테스트 용(가짜 결과 이미지 반환)
USE_MOCK=true

#jwt 설정
JWT_SECRET=your-super-secret-key-change-this-in-production-32chars
JWT_EXPIRATION=3600000

# Oracle Cloud Spring 서버에서 오는 요청 허용 (CORS 등 필요시)
ALLOWED_ORIGINS=https://your-oracle-domain.com