
# python 설정
APP_ENV=local
# 실행 모드: mock | real
TRYON_MODE=mock
# 나중에 GPU 서버 구축시 주소 변경
PYTHON_SERVICE_URL=http://YOUR_PYTHON_SERVER:8000

# Oracle Cloud Spring 서버에서 오는 요청 허용 (CORS 등 필요시)
ALLOWED_ORIGINS=https://your-oracle-domain.com